* {
    /*  box-sizing: border-box;
    outline: 1px solid limegreen !important;   */ 
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    min-height: 100%;
    overflow-y: scroll;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    font-weight:600;
}

#navbar-pinterest {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed !important; 
}

#subnavbar {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subnavbar2 {
    height: 48px;
}

#subnavbar-explore {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

#subnavbar-explore div, a{
    width: 25%;
    height: 48px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#subnavbar-search {
    width: 60%;
    display: flex;
    justify-content: center;
}

#searchbar{
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.5);
    
}

#search-input {
    flex:1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pinterest-icon {
    display: flex;
    align-items: center;
}


#searchbar div {
    padding-left: 15px;
}

input {
    border: 0;
    border-radius: 21px;
    width:100%;
    background-color: transparent;
    font-size:medium;
}
input:focus{
    outline: none;
}

#subnavbar-account {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#subnavbar-account span {
    display: block;
}

.material-symbols-outlined {
    color: rgb(94, 94, 94);
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

#button-hover {
    color: rgb(35, 35, 35);
}

#crear-icon {
    color: black;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 11px;
}

main div {
    width:252px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.board {
    border-radius: 20px;
    height: 200px;
    margin: 10px;
} 

#board1 {
background-color: mistyrose;
}
#board2 {
    background-color: khaki;
}
#board3 {
    background-color: paleturquoise;
}
#board4 {
    background-color: lightcoral;
}
#board5 {
    background-color: bisque;
}
#board6 {
    background-color: cornflowerblue;
}
#board7 {
    background-color:lightgray;
}

#more-ideas {
    font-size: x-large;
    font-weight: bold;
}

.card-image {
    display: flex;
    justify-content: flex-end;
}


.card-image img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.buttons {
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    display: none;
}

.button {
    width: 50px;
    background-color: rgba(222, 221, 221, 0.61);
    margin: 3px;
    padding: 0;
    border-radius: 50%;
}

.card-image:hover .buttons {
    display: flex;
    
}

@media screen and (max-width:1000px){
    #subnavbar-explore {
        display: none;
    }
    
    #subnavbar {
        justify-content: space-between;
    }

    main div{
        width: 150px;
    }
}

/* #subnavbar-explore div {
    height: 48px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 */


/*
#subnavbar-account {
    flex: 1;
}
 */


